.videoContainer {
  display: flex;
  flex-direction: column;
}

.infoContainer {
  margin-left: 2.5rem; /* ml-10 */
  margin-top: 0.75rem; /* mt-3 */
}

.userSection {
  display: flex;
  gap: 0.75rem; /* gap-3 */
  cursor: pointer;
  font-weight: 600; /* font-semibold */
  border-radius: 0.25rem; /* rounded */
}
